.form-line
    .header
        .title
            h3 Save Output Settings

    .form-group
        .row
            .col-12
                .form-line
                    .header
                        .title Auto-save
                    toggle(
                        [(ngModel)]='config.store.saveOutput.autoSave',
                        (ngModelChange)='config.save()'
                    )
                    .description Automatically save streamed output of all input commands and responses

    .form-group
        .row
            .col-12
                .form-line
                    .header
                        .title Storage Type
                    select(
                        [(ngModel)]='config.store.saveOutput.database.type',
                        (ngModelChange)='config.save()'
                    )
                        option(value='sqlite') SQLite Database
                        option(value='file') File System

    .form-group(*ngIf='config.store.saveOutput.database.type === "sqlite"')
        .row
            .col-12
                .form-line
                    .header
                        .title Database Information
                    .input-group
                        input.form-control(
                            type='text',
                            [(ngModel)]='config.store.saveOutput.database.path',
                            (ngModelChange)='config.save()',
                            placeholder='Database path'
                        )
                        .input-group-append
                            button.btn.btn-secondary(
                                (click)='pickDatabasePath()'
                            )
                                i.fas.fa-folder-open

                .form-line
                    input.form-control(
                        type='text',
                        [(ngModel)]='config.store.saveOutput.database.name',
                        (ngModelChange)='config.save()',
                        placeholder='Database name'
                    )

                .form-line
                    .d-flex.align-items-center
                        input(
                            type='checkbox',
                            [(ngModel)]='config.store.saveOutput.database.createNew',
                            (ngModelChange)='onCreateNewDatabaseChange()'
                        )
                        span.ml-2 Create New SQLite DB

                .form-line
                    button.btn.btn-secondary(
                        (click)='testDatabaseConnection()'
                    ) Test Connection

    .form-group(*ngIf='config.store.saveOutput.database.type === "file"')
        .row
            .col-12
                .form-line
                    .header
                        .title Output Directory
                    .input-group
                        input.form-control(
                            type='text',
                            [(ngModel)]='config.store.saveOutput.autoSaveDirectory',
                            (ngModelChange)='config.save()',
                            placeholder='Output directory'
                        )
                        .input-group-append
                            button.btn.btn-secondary(
                                (click)='pickDirectory()'
                            )
                                i.fas.fa-folder-open
