h3 Save Output

.form-line
    .header
        .title Auto-save output
        .description Automatically save terminal output to database

    .form-group
        .toggle
            input(
                type='checkbox',
                [(ngModel)]='config.autoStart'
                (ngModelChange)='save()'
            )

.form-line
    .header
        .title Database Configuration
        .description Configure database connection settings

    .form-group
        .row
            .col-12
                .toggle
                    input(
                        type='checkbox',
                        [checked]='config.database.type === "custom"'
                        (change)='toggleDatabaseType()'
                    )
                    .description Use custom database (instead of SQLite)

        .row(*ngIf='config.database.type === "sqlite"')
            .col-12
                .input-group
                    input.form-control(
                        type='text',
                        placeholder='Database file path',
                        [(ngModel)]='config.database.path'
                        (ngModelChange)='save()'
                    )

        .row(*ngIf='config.database.type === "custom"')
            .col-12
                .input-group
                    input.form-control(
                        type='text',
                        placeholder='Host',
                        [(ngModel)]='config.database.host'
                        (ngModelChange)='save()'
                    )

            .col-6
                .input-group
                    input.form-control(
                        type='number',
                        placeholder='Port',
                        [(ngModel)]='config.database.port'
                        (ngModelChange)='save()'
                    )

            .col-12
                .input-group
                    input.form-control(
                        type='text',
                        placeholder='Database name',
                        [(ngModel)]='config.database.database'
                        (ngModelChange)='save()'
                    )

            .col-12
                .input-group
                    input.form-control(
                        type='text',
                        placeholder='Username',
                        [(ngModel)]='config.database.username'
                        (ngModelChange)='save()'
                    )

            .col-12
                .input-group
                    input.form-control(
                        type='password',
                        placeholder='Password',
                        [(ngModel)]='config.database.password'
                        (ngModelChange)='save()'
                    )
