h3 Save Output

.form-line
    .header
        .title Automatically save streamed output of all input commands and responses
        .description Stores complete session logs in a database
    select.form-control(
        [(ngModel)]='config.store.saveOutput.autoSave',
        (ngModelChange)='config.save()'
    )
        option(ngValue='on') On
        option(ngValue='ssh') For SSH only
        option(ngValue='off') Off


.form-line(*ngIf='config.store.saveOutput.autoSave !== "off"')
    .header
        .title Database
        .description Database configuration for storing logs
    .input-group
        input.form-control(
            type='text',
            placeholder='Database name',
            [(ngModel)]='config.store.saveOutput.databaseName',
            (ngModelChange)='config.save()'
        )
    button.btn.btn-secondary.mt-2((click)='toggleDatabaseInfo()')
        i.fas.fa-info-circle
        span.ml-2 Database Information

.form-line(*ngIf='config.store.saveOutput.autoSave !== "off" && showDatabaseInfo')
    .database-info
        .form-group
            label Database Host
            input.form-control(
                type='text',
                placeholder='localhost',
                [(ngModel)]='config.store.saveOutput.databaseHost',
                (ngModelChange)='config.save()'
            )
        .form-group
            label Database Port
            input.form-control(
                type='number',
                placeholder='5432',
                [(ngModel)]='config.store.saveOutput.databasePort',
                (ngModelChange)='config.save()'
            )
        .form-group
            label Database Username
            input.form-control(
                type='text',
                placeholder='username',
                [(ngModel)]='config.store.saveOutput.databaseUsername',
                (ngModelChange)='config.save()'
            )
        .form-group
            label Database Password
            input.form-control(
                type='password',
                placeholder='password',
                [(ngModel)]='config.store.saveOutput.databasePassword',
                (ngModelChange)='config.save()'
            )
